[Unit]
Description=Chromium Ozone Wayland Browser
After=weston.service
Before=graphical.target
Wants=weston-touch-calibrator.service
Requires=graphical.target

[Service]
EnvironmentFile=/etc/default/chromium-ozone-wayland
ExecStart=/usr/bin/chromium $CHROMIUM_ARGS

[Install]
WantedBy=graphical.target
