[Unit]
Description=Start psplash boot splash screen
DefaultDependencies=no
RequiresMountsFor=/run
ConditionPathExists=!/run/psplash_fifo

[Service]
ExecStart=
ExecStart=/usr/bin/psplash --no-console-switch -f 0
