[Unit]
Description=Cog Browser
After=weston.service
Before=graphical.target
Wants=weston-touch-calibrator.service
Requires=graphical.target

[Service]
EnvironmentFile=/etc/default/cog
ExecStart=/usr/bin/cog $COG_ARGS

[Install]
WantedBy=graphical.target
